<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-beans.xsd">
		
	
	
	<bean id="FortuneService" class="com.Q15.FortuneService">
	</bean>
	<bean id="CricketCoach" class="com.Q15.CricketCoach">
		<constructor-arg ref="FortuneService"></constructor-arg>	
	</bean>
	<bean id="BaseballCoach" class="com.Q15.BaseballCoach">	
		<constructor-arg ref="FortuneService"></constructor-arg>	
	</bean>
</beans>
